body{
  background-image:url("https://cdn2.creativecirclemedia.com/neni/original/20190419-141233-rose-T5_58854.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

h1{
  color: lightblue;
}



header {
  background-color: rgba(255, 255, 255, 0.5);
}

nav{
text-align:center;
}

.navigation-link li {
  display: inline-block;
  margin: 10px

}

/* nav > ul{
  margin-left:30%;
}

img{
  width:200px;
  height:250px;
  margin-right:100%;
  shape-outside:inset();
} */
