* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://cdn2.creativecirclemedia.com/neni/original/20190419-141233-rose-T5_58854.jpg");
  background-size: auto;
  position: relative;
}

main {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
}

#header {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

#content {
  padding: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.greeting p {
  margin-bottom: 2em;
}

.links {
  text-align: center;
}

.links ul {
  display: inline-block;
  text-align: left;
}

.links li {
  margin: 1em 0;
}

#main {
  width: 600px;
  float: right;
  color: black;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}

#nav {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav {
  width: 180px;
  float: left;
}

.about p {
  margin: 2em;
}

#footer {
  padding: 10px;
  color: black;
  text-align: right;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
}

.columns {
  display: flex;
}

.column.column-left {
  margin-right: 10em;
}

@media screen and (max-width: 480px) {
  .column.column-left {
    margin-right: 1em;
  }
}

.navigation-link li {
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px;
  box-shadow: 0 5px black;
  background-color: white;
}
