body{
  background-image:url("https://cdn2.creativecirclemedia.com/neni/original/20190419-141233-rose-T5_58854.jpg");
  background-size:auto;
}
 a{
   text-decoration: none;
 }
#header{
text-align: center;
background-color: rgba(255, 255, 255, 0.5);
}
#content{
  padding:10px;
  }
#nav ul{
  list-style-type: none;
  padding: 0;
}
#nav{
text-align:center;
background-color: rgba(255, 255, 255, 0.5);
}
.nav{
width: 180px;
float:right;
}
#main{
  width: 600px;
  float: right;
}
#footer{
  clear: both;
  padding: 10px;
  color: black;
  text-align: right;
  text-decoration: none;
}
.navigation-link li {
display: inline-block;
margin: 10px;
border-radius: 5px;
border:1px solid white;
padding: 10px;
box-shadow: 0 5px black;
background-color: white;
}

/* nav > ul{
  margin-left:30%;
}

img{
  width:200px;
  height:250px;
  margin-right:100%;
  shape-outside:inset();
} */
