body{
  background-image:url("https://cdn2.creativecirclemedia.com/neni/original/20190419-141233-rose-T5_58854.jpg");
background-size: cover;

}









h1{
  color: red;

}
ul{
  width:200px;
  height:200px;
  margin:auto;
  display:inline;
}
li{
  margin:10px;
}
nav > ul{
  margin-left:30%;

/* }
img{zz
  width:200px;
  height:250px;
  margin-right:100%;
  shape-outside:inset();
/* } */ *
